@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', 'Helvetica Neue','sans-serif';
}

body{
   background: url(../../bg.jpg) no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header{
    padding: 20px 130px;
    font-size: 35px;
    color: var(--black);  
}

.form{
    padding: 40px 40px;
}

.form .label-1{
    font-size: 18px;
    color: var(--black);
    margin: 5px 0;
}

.form .label-2{
    margin-top: 30px;
    color: var(--black);
    font-size: 18px;
}

.form .label-3{
    font-size: 18px;
    color: var(--black);
    margin: 5px 0;
}

.form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
    background: transparent;
}

.alert{
    background: transparent;
    border-radius: 10px;
    display: none;
    width: 350px;
}


.form button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: var(--black);
    outline: none;
    background: #F3C693;
    border-radius: 10px;
    cursor: pointer;
}



/*! sign up page  */
.container-signup{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background:rgba(0,0,0,0.3);
    border-radius: 5px;
}

#set{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
}

#set #count{
    color: var(--black);
}

#parent-eye{
    position: absolute;
    right: 65px;
    transform: translate(0, -50%);
    top: 44%;
    cursor: pointer;
}

.check {
    margin-top: 10px;
    font-size: 1.25rem;
    color: #ff314d;
}

.check span {
    margin-left: 5px;
}

/*! login page */
.container-login{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background:rgba(0,0,0,0.3);
    border-radius: 5px;
}



