 @font-face {
    font-family: 'icomoon';
    src:  url('./icon svg/1/icomoon.eot?naw9k4');
    src:  url('fonts/1/icomoon.eot?naw9k4#iefix') format('embedded-opentype'),
      url('./icon svg/1/icomoon.ttf?naw9k4') format('truetype'),
      url('./icon svg/1/icomoon.woff?naw9k4') format('woff'),
      url('./icon svg/1/icomoon.svg?naw9k4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-mercedes-1:before {
    content: "\e903";
  }
  .icon-car-tire-wheel-icon:before {
    content: "\e900";
  }
  .icon-icons8-volkswagen:before {
    content: "\e901";
  }
  .icon-icons8-bmw:before {
    content: "\e902";
  }
  .icon-heart:before {
    content: "\e9da";
  }
  