@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    background: #eee;
    margin-top: 1rem;
    margin-left: 3rem;
}

div#menu-btn {
    font-size: 1.8rem;
    cursor: pointer;
}

div#menu-btn:hover{
    color: var(--orange);
}

.list{
    /* position: absolute;
    top:110%; 
    right:-110%;
    right: 2rem; */
    height: 0rem;
    width:20rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin-left: 2rem;
    background: #eee;
    /* transition: all 0.3s linear; */
}

.list li{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 3rem; */
    background: #fff;
    height: 4rem;
    /* outline-offset: -1rem;
    outline: var(--outline); */
}

.list li:hover{
    background: var(--orange);
    color: #fff;
    /* outline:var(--outline-hover);
    outline-offset: 0rem; */
}

.list.active{
    height: 16rem;
    transition: .4s linear;
}

.list li h4{
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
}

.list li a{
    margin-right: 1rem;
    margin-top: 1rem;
}

